{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row no-gutter">
		<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
		<div class="col-md-8 col-lg-6">
			<div class="login d-flex align-items-center py-5">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-lg-8 mx-auto">
<!--							<img class="mb-5 float-right" src="./static/assets/logo.png" alt="" width="272" height="272">-->
							<h1 class="login-heading h1 mb-5 font-weight-normal">Please log in!</h1>
							<form id="login-form" action="/auth/login" method="post">
								<div class="form-label-group">
									<input
											type="email"
											id="email-with-placeholder"
											class="form-control"
											name="email"
											placeholder="name@example.com"
											required autofocus>
									<label for="email-with-placeholder"> Email </label>
								</div>

								<div class="form-label-group">
									<input type="password" id="password" name="password" class="form-control"
										   placeholder="Password" required>
									<label for="password">Password</label>
								</div>

								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">Remember password</label>
								</div>
								<button class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2"
										type="submit">Login
								</button>
								<div class="text-center">
									<a class="small" href="#">Forgot password?</a></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
